{% extends 'base.html' %}
{% load static %}



    <head>
    
	    {% block title %}Noticias &#8211; MANTTO{% endblock %}
    
        {% block category_noticias_link_href_1 %}<link rel="alternate" type="application/rss+xml" title="MANTTO &raquo; Categoría Noticias del feed" href="/category/noticias/feed/" />{% endblock %}
	    
        <!-- base style N. 1-->
        <!--<style>
            style_1.css
        </style>-->
	    <link rel="stylesheet" type="text/css" href="{% static 'ManttoApp/base/css/style_1.css' %}">
	    <!--------------------->
        
		<!-- base script N. 1 -->
        <!--<script type="text/javascript">
            script_1.js
        </script>-->
	    <script type="text/javascript" src="{% static 'ManttoApp/base/js/script_1.js' %}"></script>
	    <!---------------------->
        
		<!-- base style N. 2 -->
        <!--<style type="text/css">
            style_2.css
        </style>-->
	    <link rel="stylesheet" type="text/css" href="{% static 'ManttoApp/base/css/style_2.css' %}">
	    <!--------------------->
        
        <!-- base style N. 3 -->
	    <!--<style id="wp-block-library-theme-inline-css" type="text/css">
            style_3.css
        </style>-->
	    <link rel="stylesheet" id="wp-block-library-theme-inline-css" type="text/css" href="{% static 'ManttoApp/base/css/style_3.css' %}">
	    <!--------------------->
                
        <!-- base style N. 4 -->
        <!--<style id="rs-plugin-settings-inline-css" type="text/css">
            style_4.css
        </style>-->
	    <link rel="stylesheet" id="rs-plugin-settings-inline-css" type="text/css" href="{% static 'ManttoApp/base/css/style_4.css' %}">
	    <!--------------------->
                
        <!-- base style N. 5 -->
        <!--<style id="thememove-main-inline-css" type="text/css">
            style_5.css
        </style>-->
	    <link rel="stylesheet" id="thememove-main-inline-css" type="text/css" href="{% static 'ManttoApp/base/css/style_5.css' %}">
	    <!--------------------->
        
        {% block category_noticias_link_href_2 %}<link rel="alternate" type="application/json" href="/wp-json/wp/v2/categories/29" />{% endblock %}
		
        <!-- category/noticias script N. 1 -->
	    <!--<script type="text/javascript">
            script_1.js
        </script>-->
	    <script type="text/javascript" src="{% static 'ManttoApp/category/noticias/js/script_1.js' %}"></script>
	    <!---------------------->
		
        <!-- base style N. 6 -->
	    <!--<style type="text/css">
            style_6.css
        </style>-->
	    <link rel="stylesheet" type="text/css" href="{% static 'ManttoApp/base/css/style_6.css' %}">
	    <!--------------------->
                
        <!-- base style N. 7 -->
        <!--<style type="text/css" id="custom-background-css">
            style_7.css
        </style>-->
	    <link rel="stylesheet" type="text/css" id="custom-background-css" href="{% static 'ManttoApp/base/css/style_7.css' %}">
	    <!--------------------->
                
        <!-- base script N. 2 -->
	    <!--<script type="text/javascript">
            script_2.js
        </script>-->
	    <script type="text/javascript" src="{% static 'ManttoApp/base/js/script_2.js' %}"></script>
	    <!---------------------->
		
        <!-- base style N. 8 -->
        <!--<style type="text/css" id="wp-custom-css">
            style_8.css
        </style>-->
	    <link rel="stylesheet" type="text/css" id="wp-custom-css" href="{% static 'ManttoApp/base/css/style_8.css' %}">
	    <!--------------------->
        
		<noscript>
            
            <!-- base style N. 9 -->
	        <!--<style type="text/css">
	            style_9.css
	        </style>-->
	        <link rel="stylesheet" type="text/css" href="{% static 'ManttoApp/base/css/style_9.css' %}">
	        <!---------------------->
        
        </noscript>
        <!--
        * WordPress: v5.8.2
        * ThemMove Core: v1.3.5.1
        * WooCommerce: Not Installed 
        * Visual Composer: v5.6
        * Theme: TM Structure | Shared By Themes24x7.com v6.0.0 by ThemeMove Team
        * Child Theme: Not activated
        -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        
        {% block category_noticias_script_src_1 %}<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150957217-1"></script>{% endblock %}
        
        <!-- category/noticias script N. 2 -->
	    <!--<script type="text/javascript">
            script_2.js
        </script>-->
	    <script type="text/javascript" src="{% static 'ManttoApp/category/noticias/js/script_2.js' %}"></script>
	    <!---------------------->

    </head>

    

{% block category_noticias_content_wrapper %}		
<div class="content-wrapper">
	<div data-stellar-background-ratio="0.5" class="entry-header has-bg">
		<div class="container">
			<h1>Categoría: <span>Noticias</span></h1>							<div class="breadcrumb">
					<div class="container">
						<ul class="tm_bread_crumb">
	<li class="level-1 top"><a href="/">Home</a></li>
	<li class="level-2 sub tail current">Noticias</li>
</ul>
					</div>
				</div><!-- .breadcrumb -->
					</div>
	</div>
	<div class="container">
		<div class="row">
																<div class="col-md-9">
															
<article id="post-76437" class="post-76437 post type-post status-publish format-video has-post-thumbnail hentry category-noticias tag-desarrolladora tag-kentia tag-mantto post_format-post-format-video">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
									<div class="post-thumb">
						<img width="320" height="300" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/Captura-de-pantalla-2020-01-16-a-las-0.07.35-ojqkxjk0dhp01vztfhk5rlpb3zc8ul1eqotufzo1bs.png" class="attachment-320x300x1 size-320x300x1 wp-post-image" alt="" loading="lazy" />					</div>
							</div>
			<div class="col-md-7">
				<header class="entry-header">
					<h2 class="entry-title"><a href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/" rel="bookmark">La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado</a></h2>				</header>
				<!-- .entry-header -->
									<div class="entry-meta">
						<span class="author vcard"><i
								class="fa fa-user"></i> Publicado por Mantto</span>
						<span class="categories-links"><i
								class="fa fa-folder"></i> En <a href="/category/noticias/" rel="category tag">Noticias</a> </span>
					</div><!-- .entry-meta -->
				
				<div class="entry-content">
					<p>La primera etapa del Condominio Kentia, ubicado en San Antonio de Cañete, fue entregada a fines del mes de diciembre. Esta obra forma parte del proyecto “Vive Puerto Viejo” de “Desarrolladora” que estuvo 8 meses en ejecución. El proyecto está concebido para funcionar como un condominio de playa que contará con 152 casas de playa, [&hellip;]</p>
				</div>
				<!-- .entry-content -->
				<div class="row">
					<div class="col-sm-6">
						<a class="btn read-more"
						   href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">MÁS INFORMACIÓN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</article><!-- #post-## -->
											
<article id="post-75167" class="post-75167 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
									<div class="post-thumb">
						<img width="320" height="300" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img02-obpapneutdkrp6fqk9c93t9t3ac82bt8t3whln9nso.jpg" class="attachment-320x300x1 size-320x300x1 wp-post-image" alt="" loading="lazy" />					</div>
							</div>
			<div class="col-md-7">
				<header class="entry-header">
					<h2 class="entry-title"><a href="/sector-construccion-se-habria-expandido-5-durante-enero/" rel="bookmark">Sector construcción se habría expandido 5% durante enero</a></h2>				</header>
				<!-- .entry-header -->
									<div class="entry-meta">
						<span class="author vcard"><i
								class="fa fa-user"></i> Publicado por Mantto</span>
						<span class="categories-links"><i
								class="fa fa-folder"></i> En <a href="/category/noticias/" rel="category tag">Noticias</a> </span>
					</div><!-- .entry-meta -->
				
				<div class="entry-content">
					<p>Maximixe sostuvo que avance responde al desarrollo de obras. Estima una recuperación de los despachos de cemento. Pese a menores ventas de cemento, el sector construcción habría reportado un avance de 5% en enero, empujado por el dinamismo de las inversiones en los sectores público y privado, estimó hoy la consultora Maximixe. Según dijo Pablo Otero, analista de Maximixe, en el primer [&hellip;]</p>
				</div>
				<!-- .entry-content -->
				<div class="row">
					<div class="col-sm-6">
						<a class="btn read-more"
						   href="/sector-construccion-se-habria-expandido-5-durante-enero/">MÁS INFORMACIÓN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</article><!-- #post-## -->
											
<article id="post-75159" class="post-75159 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
									<div class="post-thumb">
						<img width="320" height="300" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img01-obpaqn4q12xnyczuros2qk9bnxg66tr1m0oxu5sp88.jpg" class="attachment-320x300x1 size-320x300x1 wp-post-image" alt="" loading="lazy" />					</div>
							</div>
			<div class="col-md-7">
				<header class="entry-header">
					<h2 class="entry-title"><a href="/mantto-construyo-primer-club-house-en-zorritos/" rel="bookmark">Mantto construyó Primer Club House en Zorritos</a></h2>				</header>
				<!-- .entry-header -->
									<div class="entry-meta">
						<span class="author vcard"><i
								class="fa fa-user"></i> Publicado por Mantto</span>
						<span class="categories-links"><i
								class="fa fa-folder"></i> En <a href="/category/noticias/" rel="category tag">Noticias</a> </span>
					</div><!-- .entry-meta -->
				
				<div class="entry-content">
					<p>El grupo Mantto invirtió US$40 millones en la construcción de Cabo Merlín, el primer club house que fue levantado sobre un terreno de 14 hectáreas en Zorritos(Tumbes). En una primera etapa, el proyecto que albergará el primer condominio de lujo con muelle propio de Sudamérica, tiene 88 viviendas, con piscina, gimnasio, bares y otras comodidades. [&hellip;]</p>
				</div>
				<!-- .entry-content -->
				<div class="row">
					<div class="col-sm-6">
						<a class="btn read-more"
						   href="/mantto-construyo-primer-club-house-en-zorritos/">MÁS INFORMACIÓN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</article><!-- #post-## -->
																	</div>
							<div class="col-md-3">
	<aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
		<aside id="search-3" class="widget widget_search"><h3 class="widget-title">BUSCAR</h3><form role="search" method="get" class="search-form" action="https://www.mantto.com.pe/">
				<label>
					<span class="screen-reader-text">Buscar:</span>
					<input type="search" class="search-field" placeholder="Buscar &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Buscar" />
			</form></aside><aside id="text-5" class="widget widget_text"><h3 class="widget-title">POST RECIENTES</h3>			<div class="textwidget"><div class="recent-posts">
			<div class="recent-posts__item">
			<a href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/" class="recent-posts__thumb">
				<img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/Captura-de-pantalla-2020-01-16-a-las-0.07.35-ojqkxjjxxs42s7xx61ykoqfkzx2keheupr3pxw23d0.png" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />			</a>
							<a href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado</a>
											</div>
			<div class="recent-posts__item">
			<a href="/sector-construccion-se-habria-expandido-5-durante-enero/" class="recent-posts__thumb">
				<img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img02-obpapnesdnzufiduatqo0y02z82jm86os66d3jnptw.jpg" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />			</a>
							<a href="/sector-construccion-se-habria-expandido-5-durante-enero/">Sector construcción se habría expandido 5% durante enero</a>
											</div>
			<div class="recent-posts__item">
			<a href="/mantto-construyo-primer-club-house-en-zorritos/" class="recent-posts__thumb">
				<img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img01-obpaqn4nldcqooxyi96hnozljv6hqq4hl2ytc26r9g.jpg" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />			</a>
							<a href="/mantto-construyo-primer-club-house-en-zorritos/">Mantto construyó Primer Club House en Zorritos</a>
											</div>
	</div>

</div>
		</aside>	</aside>
</div>
					</div>
	</div>
</div>
{% endblock %}

                        <!-- base script N. 3 -->
						<!--<script>
                            script_3.js
                        </script>-->
						<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_3.js' %}"></script>
						<!---------------------->

                        {% if request.path == '/######/' %}<input type="hidden" name="_mc4wp_timestamp" value="1638473133" />{% endif %}

<!-- base script N. 4 -->
<!--<script type="text/javascript">
    script_4.js
</script>-->
<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_4.js' %}"></script>
<!---------------------->

<!-- base script N. 5 -->
<!--<script>
    script_5.js
</script>-->
<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_5.js' %}"></script>
<!---------------------->
	
<!-- base script N. 6 -->
<!--<script>
    script_6.js
</script>-->
<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_6.js' %}"></script>
<!----------------------->

<!-- base script N. 7 -->
<!--<script>
	script_7.js
</script>-->
<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_7.js' %}"></script>
<!----------------------->
        
<!-- base script N. 8 -->
<!--<script type="text/javascript" id="contact-form-7-js-extra">
    script_8.js
</script>-->
<script type="text/javascript" id="contact-form-7-js-extra" src="{% static 'ManttoApp/base/js/script_8.js' %}"></script>
<!----------------------->

<!-- base script N. 9 -->
<!--<script type="text/javascript">
    script_9.js
</script>-->
<script type="text/javascript" src="{% static 'ManttoApp/base/js/script_9.js' %}"></script>
<!----------------------->



    
	