{% extends 'base.html' %}
{% load static %}



{% block title %}La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado &#8211; MANTTO{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_1 %}<link rel="alternate" type="application/rss+xml" title="MANTTO &raquo; Comentario La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado del feed" href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/feed/" />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_2 %}<link rel="alternate" type="application/json" href="/wp-json/wp/v2/posts/76437" />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_3 %}<link rel="canonical" href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/" />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_4 %}<link rel='shortlink' href='https://www.mantto.com.pe/?p=76437' />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_5 %}<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.mantto.com.pe%2Flaprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado%2F" />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_link_href_6 %}<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.mantto.com.pe%2Flaprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado%2F&#038;format=xml" />{% endblock %}

<!-- laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado script N. 1 -->
<!--<script type="text/javascript">
    script_1.js
</script>-->
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_INTERNAL_script_src_1 %}<script type="text/javascript" src="{% static 'ManttoApp/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/js/script_1.js' %}"></script>{% endblock %}
<!--------------------------------------------------------------------------------->

{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_script_src_1 %}<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150957217-1"></script>{% endblock %}

<!-- laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado script N. 2 -->
<!--<script type="text/javascript">
    script_2.js
</script>-->
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_INTERNAL_script_src_2 %}<script type="text/javascript" src="{% static 'ManttoApp/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/js/script_2.js' %}"></script>{% endblock %}
<!--------------------------------------------------------------------------------->

{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_input_type_hidden_1 %}<input type="hidden" name="_mc4wp_timestamp" value="1638472905" />{% endblock %}
{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_EXTERNAL_script_src_2 %}<script type='text/javascript' src='https://www.mantto.com.pe/wp-includes/js/comment-reply.min.js?ver=5.8.2' id='comment-reply-js'></script>{% endblock %}


{% block laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado_content_wrapper %}
    <div class="content-wrapper">
        <div data-stellar-background-ratio="0.5" class="has-bg">
            <div class="container">
                <h1>
                    <span>Blog</span>
                </h1>
                <div class="breadcrumb">
                    <div class="container">
                        <ul class="tm_bread_crumb">
                            <li class="level-1 top">
                                <a href="/">Home</a>
                            </li>
                            <li class="level-2 sub">
                                <a href="/category/noticias/">Noticias</a>
                            </li>
                            <li class="level-3 sub tail current">La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <main class="content" role="main">
                        <article id="post-76437" class="post-76437 post type-post status-publish format-video has-post-thumbnail hentry category-noticias tag-desarrolladora tag-kentia tag-mantto post_format-post-format-video">
                            <div class="post-thumb">
                                <div class="dates">
                                    <span class="month">enero</span>
                                    <span class="date">16</span>
                                    <span class="year">2020</span>
                                    <span class="comments-counts"><span>0</span>Comment</span>
                                </div>
                                <img width="848" height="450" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/Captura-de-pantalla-2020-01-16-a-las-0.07.35-ojqkxjk6t1n80mq4jsbn2u57xlfrjzxqdzhc20bkpg.png" class="attachment-848x450x1 size-848x450x1 wp-post-image" alt="" loading="lazy" />
                            </div>
                            <header class="entry-header">
                                <h1 class="entry-title">La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado</h1>
                            </header>
                            <div class="entry-meta">
                                <span class="author vcard"><i class="fa fa-user"></i> Publicado por Mantto</span>
                                <span class="categories-links"><i class="fa fa-folder"></i> En <a href="/category/noticias/" rel="category tag">Noticias</a></span>
                            </div>
                            <div class="entry-content">
                                <p>La primera etapa del <strong>Condominio Kentia</strong>, ubicado en San Antonio de Cañete, fue entregada <strong>a fines del mes de diciembre</strong>. Esta obra forma parte del proyecto “Vive Puerto Viejo” de “<strong>Desarrolladora” </strong>que estuvo 8 meses en ejecución.</p>
                                <p>El proyecto está concebido para funcionar como un condominio de playa que <strong>contará con 152 casas de playa, un Club House, piscina, áreas de servicio, canchas deportivas y un estacionamiento para 318 automóviles.</strong> Además, contará con un sistema de abastecimiento de agua, sistema de desagüe, abastecimiento de energía eléctrica, comunicaciones y sistema de seguridad. [Adjuntamos el video nuestro proyecto]</p>
                                <figure class="wp-block-video">
                                    <video controls src="https://www.mantto.com.pe/wp-content/uploads/2020/01/video-mantto-nov19-1-2.mp4"></video>
                                </figure>
                            </div>
                            <div class="entry-bottom">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <i class="fa fa-tags"></i> Tags: <a href="/tag/desarrolladora/" rel="tag">Desarrolladora</a>, <a href="/tag/kentia/" rel="tag">Kentia</a>, <a href="/tag/mantto/" rel="tag">Mantto</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="share">
                                            <span><i class="fa fa-share-alt"></i> Compartir: </span>
                                            <span>
                                                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://www.mantto.com.pe/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a target="_blank" href="http://twitter.com/share?text=La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado&url=https://www.mantto.com.pe/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a target="_blank" href="https://plus.google.com/share?url=https://www.mantto.com.pe/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="entry-footer">
                                <div class="author-info">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img alt='' src='https://secure.gravatar.com/avatar/fe033c6af77cd2adc36c4fd6df0caab0?s=120&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/fe033c6af77cd2adc36c4fd6df0caab0?s=240&#038;d=mm&#038;r=g 2x' class='avatar avatar-120 photo' height='120' width='120' loading='lazy'/>
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>manttoe</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </article>
                        <div id="comments" class="comments-area">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Escribe un comentario <small><a rel="nofollow" id="cancel-comment-reply-link" href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/#respond" style="display:none;">Cancelar la respuesta</a></small></h3>
                                <form action="https://www.mantto.com.pe/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                    <div class="col-md-12">
                                        <p class="comment-form-comment">
                                            <textarea id="comment" placeholder="Comentario *" name="comment" aria-required="true"></textarea>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="comment-form-author">
                                            <input id="author" placeholder="Nombre *" name="author" type="text" value="" size="30" aria-required='true' />
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="comment-form-email">
                                            <input id="email" placeholder="E-mail *" name="email" type="text" value="" size="30" aria-required='true' />
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="comment-form-url">
                                            <input id="url" placeholder="Teléfono" name="url" type="text" value="" size="30" />
                                        </p>
                                    </div>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Enviar" />
                                        <input type='hidden' name='comment_post_ID' value='76437' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
                <div class="col-md-3">
                    <aside class="sidebar" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
                        <aside id="search-3" class="widget widget_search">
                            <h3 class="widget-title">BUSCAR</h3>
                            <form role="search" method="get" class="search-form" action="https://www.mantto.com.pe/">
                                <label>
                                    <span class="screen-reader-text">Buscar:</span>
                                    <input type="search" class="search-field" placeholder="Buscar &hellip;" value="" name="s" />
                                </label>
                                <input type="submit" class="search-submit" value="Buscar" />
                            </form>
                        </aside>
                        <aside id="text-5" class="widget widget_text">
                            <h3 class="widget-title">POST RECIENTES</h3>
                            <div class="textwidget">
                                <div class="recent-posts">
                                    <div class="recent-posts__item">
                                        <a href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/" class="recent-posts__thumb">
                                            <img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/Captura-de-pantalla-2020-01-16-a-las-0.07.35-ojqkxjjxxs42s7xx61ykoqfkzx2keheupr3pxw23d0.png" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <a href="/laprimeraetapadelcondominiokentiafueentregadaeneltiempoestimado/">La primera etapa del Condominio Kentia fue finalizada y entregada en el plazo estimado</a>
                                    </div>
                                    <div class="recent-posts__item">
                                        <a href="/sector-construccion-se-habria-expandido-5-durante-enero/" class="recent-posts__thumb">
                                            <img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img02-obpapnesdnzufiduatqo0y02z82jm86os66d3jnptw.jpg" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <a href="/sector-construccion-se-habria-expandido-5-durante-enero/">Sector construcción se habría expandido 5% durante enero</a>
                                    </div>
                                    <div class="recent-posts__item">
                                        <a href="/mantto-construyo-primer-club-house-en-zorritos/" class="recent-posts__thumb">
                                            <img width="120" height="90" src="https://www.mantto.com.pe/wp-content/uploads/bfi_thumb/mantto-noticias-img01-obpaqn4nldcqooxyi96hnozljv6hqq4hl2ytc26r9g.jpg" class="attachment-120x90x1 size-120x90x1 wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <a href="/mantto-construyo-primer-club-house-en-zorritos/">Mantto construyó Primer Club House en Zorritos</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}