.vc_custom_1564801547618 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1433413594838 {
    margin-bottom: 40px !important;
}

.vc_custom_1572445379068 {
    padding-left: 20px !important;
}

.vc_custom_1564700917527 {
    margin-bottom: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
}

.vc_custom_1571939846659 {
    margin-bottom: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 0px !important;
}